#backdrop {
    background:
    linear-gradient(
      to bottom,
      rgba(28,27,34,0.6) 0%,
      rgba(28,27,34,0.8) 60%,
      rgba(28,27,34,1) 90%,
      rgba(28,27,34,1) 100%
    ),
    url("/img/homescreen_backdrop.jpg");
}