<app-header></app-header>

<div class="overflow-hidden mt-8">
    <div id="backdrop"
        class="flex flex-column align-items-center text-center bg-cover bg-center bg-no-repeat w-full h-30rem">
        <h1 class="m-0 text-white mb-3 mt-8" style="font-size: clamp(2rem, 5vw, 4rem); line-height: 1.08;">A jövő
            iskolai <br><span class="text-primary-500">adminisztrációja</span></h1>

        <p class="w-8 text-color-secondary mb-6">Hatékony, modern és átlátható rendszer oktatási intézmények számára. Az
            EduMatrix segítségével az adminisztráció teherből lehetőséggé válik.</p>
    </div>
    <div id="cards" class="text-center">
        <h1>Értékajánlatunk mindenkinek</h1>
        <p class="text-color-secondary mb-6">Személyre szabott megoldások az iskola minden résztvevőjének számára.</p>
        <div id="cardContainer" class="flex flex-column md:flex-row text-left gap-3 px-3 md:px-4">
            <p-card header="Diákoknak" class="w-full md:w-4 border-1 border-round-xl border-200">
                <p class="text-color-secondary">
                    Naprakész jegyek, órarend és házífeladatok elérhetők bárhol, bármikor. Értesítések a változásokról
                    azonnal.
                </p>
            </p-card>
            <p-card header="Tanároknak" class="w-full md:w-4 border-1 border-round-xl border-200">
                <p class="text-color-secondary">
                    Gyors és egyszerű naplózás, automatikus statisztikák és hatékony kapcsolattartás a szülőkkel és
                    diákokkal.
                </p>
            </p-card>
            <p-card header="Adminisztrátoroknak" class="w-full md:w-4 border-1 border-round-xl border-200">
                <p class="text-color-secondary">
                    Teljes kontroll az iskola minden folyamata felett. Intelligens jelentések, erőforrás-kezelés és
                    adatbiztonság.
                </p>
            </p-card>
        </div>
    </div>
</div>
<app-footer></app-footer>